.about {
    margin-top: 100px;
}
.about__h3 {
  font-family: 'helvatica-neue-bold';
  color:  #424242;
  font-size: 36px;
  text-align: center;
  margin: 0;
}
.about__h4 {
  font-family: 'helvetica-neue-light';
  color:  #424242;
  font-size: 20px;
  font-weight: 300;  
  text-align: center;
  margin: 0;
    &::after {
     display: block;   
     content: "";
     margin: 15px auto 45px auto;  
     width: 45px;
     border-bottom: 5px solid #424242;
    }
     
}
.about-content {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
        
}
.about-content__item {
    padding: 0 45px;
}
.about-content__item-img-cool {
    @include sprite ($cool);
    margin: 0 auto 25px auto;
  }
.about-content__item-img-book {
    @include sprite ($book);
    margin: 0 auto 25px auto;
  }
.about-content__item-img-quote {
    @include sprite ($quote);
    margin: 0 auto 25px auto;
}
.about-content__item-h3 {
  font-family: "helvatica-neue-bold";
  color:  #424242;
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;  
}
.about-content__item-p {
  font-family: "helvetica-neue-light";
  color:  #5c5c5c;
  font-size: 14px;
  letter-spacing: 1px;  
  text-align: center;
}
