.analysis {
   background-color:  #1287bf;
   padding-top: 100px;
    padding-bottom: 100px;
}
.analysis__h3 {
  font-family: 'helvatica-neue-bold';
  color: #fff;
  font-size: 36px;
  margin: 0;
  text-align: center;
  }
.analysis__h4 {
  font-family: 'helvetica-neue-light';
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  }
.analysis__open-form {
    display: block;
    margin: 15px auto 55px auto;
    font-size: 45px;
    color: #fff;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    background-color:  #1287bf;
    width: 64px;
    height: 64px;
  }
.analysis-form-container {
    position: relative;
    background-color:  #fff;
    width: 67%;
    margin: auto;
    padding: 50px 70px;
    text-align: center;
    &::before {
        content: "";
        text-align: center;
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -30px;
        width: 0; height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid #fff;
    }
}
.analysis-form-close__btn {
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -25px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    }
.analysis-form-close {
    color: #fff;
    background-color: #de2b24;
    text-align: center;
    border-radius: 50%;
    font-size: 32px;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    
    }
.analysis-form__p {
    font-family: "helvetica-neue-regular";
    color:  #828282;
    font-size: 16px;
    margin-bottom: 40px;
    
    }
.analysis-form__input {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #d8d8d8;
    background-color:  rgba(241, 241, 241, 0);
    width: 451px;
    height: 58px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "helvetica-neue-regular";
    color:  #b0b0b0;
    font-size: 14px;
    }
.analysis-form-submit__btn {
    display: block;
    margin: 30px auto 0px auto;
    border-radius: 3px;
    background-color:  #de2b24;
    width: 161px;
    height: 46px;
    font-family: "helvetica-neue-regular";
    color:  #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    &:hover {
     background: darken(#de2b24, 10%);
    }
    }