/*------------------Banner------------------*/

.banner {
    min-height: 590px;
    background: url(../images/main-banner.jpg) center/cover no-repeat #1287bf;
    @media screen and (max-width: 900px) {
     min-height: auto;   
    }
}
.banner-content {
  line-height: 0;  
  text-align: center;
}
.banner-content__h3 {
    display: inline-block;
  font-family: "helvatica-neue-bold";
  color:  #fff;
  font-size: 48px;
  margin-top: 170px;
    margin-bottom: 0;
    @media screen and (max-width: 900px) {
      margin-top: 70px;  
    } 
    @media screen and (max-width: 550px) {
       margin-top: 50px;
       font-size: 32px; 
    }
}
.banner-content__h4 {
  font-family: "helvetica-neue-light";
  color:  #fff;
  font-size: 30px;
    @media screen and (max-width: 550px) {
     font-size: 16px;
        letter-spacing: 1px;
    }  
}
.banner-content__btn {
font-family: "helvatica-neue-bold";
color:  #fff;
font-size: 23px;
cursor: pointer;
text-transform: uppercase;    
background-color:  #f8cd53;
width: 330px;
height: 69px;
border: 0;
border-radius: 5px;
 &:hover {
   transition: 0.3s;
   background-color: darken(#f8cd53, 10%);
   }
    @media screen and (max-width: 900px) {
     width: 220px;
     height: 46px;
     margin-bottom: 50px;
     font-size: 18px;
    }
    @media screen and (max-width: 550px) {
     width: 150px;
     height: 30px;
     margin-bottom: 30px;
     font-size: 12px;   
    }
}