.footer {
    background-color:  #515151;
    height: 67px;
}
.footer__p {
    font-family: "helvetica-neue-regular";
    color:  #cecece;
    font-size: 14px;
    line-height: 67px;
    text-align: center;
    margin: 0;
}