/* ----------------------Header--------------------------*/
.header-contact {
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
    height: 40px;
    text-align: right;
    &__span {
        display: inline-block;
        
        line-height: 40px;
        
        }
    &__fa-mobile {
     color:  #424242;
     font-size: 19px;
     font-weight: 400;
     }
    &__tel {
     display: inline-block;
     font-family: "helvetica-neue-regular";
     color:  #424242;
     font-size: 15px;
     letter-spacing: 1px;
     margin-left: 5px;
     padding-right: 15px;   
     border-right: 1px solid #e2e2e2; 
     
       &:hover {
        transition: 0.3s;
        color: lighten(#424242, 30%);
        } 
        @media screen and (max-width: 400px) {
          border-right: 0;
          padding-right: 0px;   
            }
     }
    &__fa-mail {
     color:  #424242;
     font-size: 19px;
     font-weight: 400;
     margin-left: 15px;   
     }
    &__mail {
     font-family: "helvetica-neue-regular";
     color:  #424242;
     font-size: 15px;
     letter-spacing: 1px;   
     margin-left: 5px; 
       &:hover {
        transition: 0.3s;
        color: lighten(#424242, 30%);
        } 
     }
    &__facebook {
     border-radius: 3px;
     padding: 3px 10px;
     margin-left: 10px;   
     background-color:  #1287bf;
       &:hover {
        transition: 0.3s;
        background-color: darken(#1287bf, 10%);
        } 
    }
    &__fa-facebook {
     color:  #ffffff;
     font-size: 16px;
     font-weight: 400;
      
    }
    @media screen and (max-width: 1040px) {
        padding: 0 20px;
        }
    @media screen and (max-width: 400px) {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
}
.header-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 130px;
    &-logo__img {
     width: 74px;
     height: 49px;
     }
    @media screen and (max-width: 1040px) {
        margin: 0 20px;
    }
    @media screen and (max-width: 900px) {
        flex-direction: column;
        height: auto;
    }
 }
.header-main-logo {
    display: flex;
    align-items: center;
     &__h2 {
     margin: 0;
     font-family: "helvatica-neue-bold";
     color:  #424242;
     font-size: 37px;
     }
     &__h3 {
     margin: 0;
     font-family: "helvetica-neue-regular";
     color:  #424242;
     font-size: 14px;
     letter-spacing: 1px; 
     }
    &__wrap {
     margin-left: 10px;   
     }
    @media screen and (max-width: 900px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
   
}
.header-main-nav {
    margin-left: 100px;
    &__item {
     display: inline-block;
     margin-left: 15px;
    &:first-child {
      margin-left: 0;
    } 
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin-left: 15px;
      border-radius: 50%;
      background: #424242;
    }
    &:last-child:after {
      display: none;
    } 
     
    @media screen and (max-width: 430px){
        margin-top: 10px;
        &:after {
            display: none;
        }
        }
     }
    &__item-link {
     display: inline-block;
     font-family: "helvatica-neue-bold";
     color:  #424242;
     font-size: 15px;
       &:hover {
        transition: 0.3s;
        color: lighten(#424242, 30%);
        } 
     }
    &__item-link_activ {
     color:  #de2b24; 
        &:hover {
         color:  #de2b24;
        } 
    }
    @media screen and (max-width: 1020px) {
        margin-left: 10px;
    }
    @media screen and (max-width: 900px) {
        margin-left: 0;
    }
    @media screen and (max-width: 430px) {
        text-align: center;
    }
}
.header-main__btn {
    border-radius: 4px;
    background-color:  #de2b24;
    width: 171px;
    height: 36px;
    font-family: "helvatica-neue-bold";
    color:  #ffffff;
    font-size: 15px;
    text-align: center;
    border: 0;
    padding-left: 20px;
    margin-left: 20px;
    cursor: pointer;
    &:hover {
        transition: 0.3s;
        background-color: darken(#de2b24, 10%);
        } 
    @media screen and (max-width: 900px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
