/* ----------------------Header--------------------------*/
.header-contact {
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
    height: 40px;
    &__span {
        display: block;
        text-align: right;
        line-height: 40px;
        height: 40px;
        }
    &__fa-mobile {
     color:  #424242;
     font-size: 19px;
     font-weight: 400;
     }
    &__tel {
     display: inline-block;
     font-family: Helvetica;
     color:  #424242;
     font-size: 15px;
     font-weight: 400;
     margin-left: 5px;
     padding-right: 15px;   
     border-right: 1px solid #e2e2e2; 
     height: 40px;   
     }
    &__fa-mail {
     color:  #424242;
     font-size: 19px;
     font-weight: 400;
     margin-left: 15px;   
     }
    &__mail {
     font-family: Helvetica;
     color:  #424242;
     font-size: 15px;
     font-weight: 400;
     margin-left: 5px;    
     }
    &__facebook {
     border-radius: 3px;
     padding: 3px 10px;
     margin-left: 10px;   
     background-color:  #1287bf;
    }
    &__fa-facebook {
     color:  #ffffff;
     font-size: 16px;
     font-weight: 400;
      
    }
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    &-logo__img {
     width: 74px;
     height: 49px;
     }
 }
.header-main-logo {
    display: flex;
    align-items: center;
     &__h2 {
     margin: 0;
     font-family: HelveticaNeue;
     color:  #424242;
     font-size: 37px;
     font-weight: 700;    
     }
     &__h3 {
     margin: 0;
     font-family: HelveticaNeue;
     color:  #424242;
     font-size: 15px;
     font-weight: 400;    
     }
    &__wrap {
     margin-left: 10px;   
     }
}
.header-main-nav {
    margin-left: 100px;
    &__item {
     display: inline-block;
     margin-left: 15px;
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin-left: 15px;
      border-radius: 50%;
      background: #424242;
    }
    &:last-child:after {
      display: none;
    }    
     }
    &__item-link {
     font-family: HelveticaNeue;
     color:  #424242;
     font-size: 15px;
     font-weight: 700;   
    }
    &__item-link_activ {
     color:  #de2b24;    
    }
}
.header-main__btn {
    border-radius: 4px;
    background-color:  #de2b24;
    width: 171px;
    height: 36px;
    font-family: HelveticaNeue;
    color:  #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    border: 0;
    padding-left: 20px;
}
