.subscribe {
    background-color: #2a2a2a;
    padding-top: 80px;
    text-align: center;
}
.subscribe__h3 {
    font-family: "helvatica-neue-bold";
    color:  #fff;
    font-size: 29px;
    
}
.subscribe-social-icon {
    
}
.subscribe-social-icon__fa {
    display: inline-block;
    margin: 10px;
    padding-top: 13px;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color:  #515151;
    background-color:  #2a2a2a;
    width: 50px;
    height: 50px;
    color:  #fff;
    font-size: 22px;
    box-sizing: border-box;
    &:hover {
       border-color:  #de2b24; 
    }
    
}
.subscribe__p {
    font-family: "helvetica-neue-regular";
    color:  #cecece;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.subscribe-form {
    
}
.subscribe-form__input-mail {
    border-radius: 1px;
    background-color:  #515151;
    width: 683px;
    height: 54px;
    border: 0;
    font-family: "helvetica-neue-regular";
    color:  #cecece;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.subscribe__btn {
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    border-color:  #515151;
    background-color:  rgba(243, 243, 243, 0);
    width: 153px;
    height: 53px;
    font-family: "helvatica-neue-bold";
    color:  #fff;
    font-size: 17px;
    margin-bottom: 80px;
    transition: 0.3s;
    &:hover {
        background: lighten(#2a2a2a, 10%);
    }
}