.work {
   background-color:  #de2b24;
   padding-top: 110px;
   padding-bottom: 130px; 
    @media screen and (max-width: 900px) {
       padding-top: 30px;
       padding-bottom: 30px;  
    }
}
.work__h3 {
  font-family: 'helvatica-neue-bold';
  color: #fff;
  font-size: 36px;
  margin: 0;
  text-align: center;
  }
.work__h4 {
  font-family: 'helvetica-neue-light';
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0;
    &::after {
     display: block;
     content: "";
     margin: 15px auto 45px auto;
     width: 45px;
     border-bottom: 5px solid #fff;
    }
}
.work-projects {
    margin-top: 45px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1040px) {
        flex-direction: column;
    }
}
.work-project__a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.5s;
    &:hover {
        opacity: 0.5;
    }
}
.work-project__description {
    width: 255px;
    text-align: center;
    @media screen and (max-width: 530px) {
        height: 255px;
    }
}
.work-project__fa {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    @media screen and (max-width: 530px) {
        margin-top: 70px;
    }
    
}
.work-project__h3 {
    font-family: "helvatica-neue-bold";
    color:  #fff;
    font-size: 26px;
    margin: 0;
    
}
.work-project__p {
    font-family: "helvatica-neue-bold";
    color:  #fff;
    font-size: 16px;
    margin: 0;
}
.work-project__img {
    width: 255px;
    height: 255px;
}
.work-project1,
.work-project2,
.work-project3,
.work-project4 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f35e59;
    @media screen and (max-width: 530px) {
        flex-direction: column;
    }
  }
.work-project2,
.work-project3 {
    @media screen and (max-width: 1040px) {
      flex-direction: row-reverse;  
    }
     @media screen and (max-width: 530px) {
        flex-direction: column;
    }    
}
.work-project3,
.work-project4 {
     @media screen and (max-width: 530px) {
        flex-direction: column-reverse;
    }    
}