//@import "../../node_modules/normalize.scss/normalize.scss"; 
@import "import/fonts.scss";      
  body {
    min-width: 320px;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
	width: 1024px;
    margin: 0 auto;
}


@import "import/sprite.sass";
@import "import/header.scss";
@import "import/banner.scss";
@import "import/about.scss";