@import "../../node_modules/normalize.scss/normalize.scss"; 
@import "import/fonts.scss";      
  body {
    min-width: 320px;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
	max-width: 1024px;
    margin: 0 auto;
}
.box {
    border: 2px solid red;
}


@import "import/sprite.sass";
@import "import/header.scss";
@import "import/banner.scss";
@import "import/about.scss";
@import "import/approch.scss";
@import "import/work.scss";
@import "import/analysis.scss";
@import "import/subscribe.scss";
@import "import/footer.scss";