section.about.container
 h3.about__h3 About Us
 h4.about__h4 We are added our major Services
 .about-content
  .about-content__item
   .about-content__item-img-cool
   .about-content__item-h3 Facebook Marketing
   .about-content__item-p Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
  .about-content__item
   .about-content__item-img-book
   .about-content__item-h3 landing pages Creation
   .about-content__item-p Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
  .about-content__item
   .about-content__item-img-quote
   .about-content__item-h3 Ads management
   .about-content__item-p Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
  