section.analysis
 .container
   h3.analysis__h3 Get Your Free Facebook Analysis Now
   h4.analysis__h4 Enter your details below
   button.analysis__open-form(type="button") 
    i.fas.fa-chevron-down.analysis__open-form-fa
   .analysis-form-container 
    form.analysis-form(method="post" action="#")
     button(type="button").analysis-form-close__btn
      span.analysis-form-close &#10006;
       
      
     p.analysis-form__p Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
     input.analysis-form__input(type="text" placeholder="Your Name")
     input.analysis-form__input(type="tel" placeholder="Contact Number")
     input.analysis-form__input(type="text" placeholder="Company Name")
     button.analysis-form-submit__btn(type="submit") sUBMIT nOW