section.approch
 .container
     h3.approch__h3 Our Approch
     h4.approch__h4 Check Our approches step by step ( how we do it )

     .approch-step1
       img(src="images/step1.jpg" alt="" title="").approch-step1__img
       .approch-step1__step step 
       .approch-step1__content
        h4.approch-step1-content__h4 Step 1 : Heading Here
        p.approch-step1-content__p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.

     .approch-step2
       img(src="images/step2.jpg" alt="" title="").approch-step2__img
       .approch-step2__step step
       .approch-step2__content
        h4.approch-step2-content__h4 Step 2 : Heading Here
        p.approch-step2-content__p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.

     .approch-step3
       img(src="images/step3.jpg" alt="" title="").approch-step3__img
       .approch-step3__step step
       .approch-step3__content
        h4.approch-step3-content__h4 Step 3 : Heading Here
        p.approch-step3-content__p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.

     .approch-step4
       img(src="images/step4.jpg" alt="" title="").approch-step4__img
       .approch-step4__step step
       .approch-step4__content
        h4.approch-step4-content__h4 Step 4 : Heading Here
        p.approch-step4-content__p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.    