header.header
    .header-contact
     .container
      span.header-contact__span
       i.fas.fa-mobile-alt.header-contact__fa-mobile
       |
       |
       a.header-contact__tel(href="tel:0123456789") 0123456789
       |
       |
      span.header-contact__span 
       i.fas.fa-envelope.header-contact__fa-mail
       |
       |
       a.header-contact__mail(href="mailto:info@business.com")  info@business.com
       
       |
       a.header-contact__facebook(href="https://facebook.com")
        i.fab.fa-facebook-f.header-contact__fa-facebook
      
    .header-main.container
     a(href="/").header-main-logo
      img.header-main-logo__img(src='images/logo.png')
      .header-main-logo__wrap
       h2.header-main-logo__h2 Business
       h3.header-main-logo__h3 Tagline goes here
     nav.header-main-nav
      ul
       li.header-main-nav__item
        a.header-main-nav__item-link.header-main-nav__item-link_activ Home
       li.header-main-nav__item
        a.header-main-nav__item-link(href="#AboutUs") About Us
       li.header-main-nav__item
        a.header-main-nav__item-link(href="#OurApproch") Our Approch 
       li.header-main-nav__item
        a.header-main-nav__item-link(href="#OurWork") Our Work 
     button.header-main__btn Free Consultation
     