section.subscribe
 .container
   h3.subscribe__h3 Get in touch
   .subscribe-social-icon
    a.subscribe-social-icon__link(href="https://www.facebook.com")
     i.fab.fa-facebook-f.subscribe-social-icon__fa
    a.subscribe-social-icon__link(href="https://twitter.com")
     i.fab.fa-twitter.subscribe-social-icon__fa
    a.subscribe-social-icon__link(href="https://plus.google.com")
     i.fab.fa-google-plus-g.subscribe-social-icon__fa
    a.subscribe-social-icon__link(href="https://www.linkedin.com")
     i.fab.fa-linkedin-in.subscribe-social-icon__fa
   p.subscribe__p Subscribe to our newsletter to stay update with what is new
   form.subscribe-form
    input.subscribe-form__input-mail(type="email" placeholder="Email Address")
   button.subscribe__btn Subscribe
   