section.work(id="OurWork")
 .container
  h3.work__h3 Our Work
  h4.work__h4 We are added our featured works below
  .work-projects
    a.work-project__a(href="#")
       figure.work-project1
        figcaption.work-project__description
         i.far.fa-paper-plane.work-project__fa
         h3.work-project__h3 Project Name
         p.work-project__p Facebook marketing
        img.work-project__img(src="images/work1.jpg")
    a.work-project__a(href="#")    
       figure.work-project2
        figcaption.work-project__description
         i.far.fa-paper-plane.work-project__fa
         h3.work-project__h3 Project Name
         p.work-project__p Landing page
        img.work-project__img(src="images/work2.jpg")
    a.work-project__a(href="#")    
       figure.work-project3
        img.work-project__img(src="images/work3.jpg") 
        figcaption.work-project__description
         i.far.fa-paper-plane.work-project__fa
         h3.work-project__h3 Project Name
         p.work-project__p Landing page
    a.work-project__a(href="#")
       figure.work-project4
        img.work-project__img(src="images/work4.jpg") 
        figcaption.work-project__description
         i.far.fa-paper-plane.work-project__fa
         h3.work-project__h3 Project Name
         p.work-project__p Facebook marketing
    